body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#myFigCaption {
  margin-left: auto;
  margin-right: auto;
}

#featured-property p {
  word-wrap: break-word;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  content: center;
}

h1 {
  text-align: center;
}
